{% extends "base.html" %} {% block title %} {% block super %} {% endblock%} {% endblock title %} {% block content %}




<div class="container">
    <div class="row">
        <h2>{{title}}</h2>
        </h2>

        <form action="." method="post" class="form-control"> {% csrf_token %}
            <div class="col-md-12">
                {{form.as_p}}
                <!-- <input name="url" type="text" placeholder="Short your Url">
            -->
                <div class="col-md-12">
                    <input type="submit" class="btn btn-success" value="ShortLine">
                </div>


            </div>
        </form>


    </div>


    {% endblock content %}